
.business__cases {
    background-color: #b3b3b3;
}


.cases__first-text {
    
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0,7;
text-align: center;
color: #333333;
margin-left: 80px;
padding-top: 56px;
}

.cases__big-text {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 0,7;
text-align: center;
color: #333333;
margin-top: 24px;
}

.cases__third-text {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0,7;
text-align: center;
color: #333333;
margin-left: 57px;
margin-right: 56px;
margin-top: 24px;
}