
.business__cases {
    background-color: #b3b3b3;
}


.cases__first-text {
    
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0,7;
text-align: center;
color: #333333;

padding-top: 56px;
}

.cases__big-text {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 0,7;
text-align: center;
color: #333333;
margin-top: 24px;
}

.cases__third-text {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0,7;
text-align: center;
color: #333333;
margin-left: 57px;
margin-right: 56px;
margin-top: 24px;
}

.mobile__case {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;

}

.mobile__case-else {
    max-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 8px;
    padding-bottom: 40px;
    
}
.cases__item-last {
    padding-bottom: 40px;
}

////////// 768px/////////////////// 

@media screen and (min-width: 768px) {
    .cases__first-text {
        margin-top: 48px;
        font-size: 18px;
        
    }
    .cases__big-text {
        margin-top: 16px;
        font-size: 40px;
    }
    .cases__third-text {
        margin-left: 63px;
        font-size: 18px;
    }
    .cases__list {
        display: flex;
        flex-wrap: wrap;
        margin-left: 32px;;
    }
    .mobile__case {
        width: 223px;
    }
    .case__item {
        padding-left: 18px;
        
    }
}