

.green__section {
    background-color: #28A745;
    margin-top: 0;
    width: 320px;
}

.image-inline {
    display: none;
}
.green__block {
    padding-left: 20px;
    padding-right: 20px;
    
}
.section__text-small {

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0,8;
color: #FFFFFF;
padding-top: 80px;
}

.section__text-big {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 0,7;
color: #FFFFFF;
}

.section__paragraph {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0,7;
color: #FFFFFF;
margin-top: 10px;
}

.green__section-btn {
 background-color: #28A745;
justify-content: center;
align-items: center;
padding-top: 16px;
padding-bottom: 16px;
width: 146px;

border: 1px solid #FFFFFF;
border-radius: 5px;
margin-top: 24px;
margin-bottom: 78px;
}

.section__btn-text {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0,7;
color: #FFFFFF;

}
////////   768 px ///////////////////////////////////


@media screen and (min-width: 768px) { 

    .green__section {
        width: 768px;
    }
    .container {
        width: 768px;
    }
    .green__wrapper {
    display: flex;
}
.image-inline {
    display: block;
    
    width: 368px;
    height: 588px;
    object-fit: cover;
}
.green__block {
    margin-left: 32px;
    margin-top: 62px;;
}
}

///////   1360 px  ////////////////////////////////  


@media screen and (min-width: 1360px) { 
.green__section {
    width: 1360px;
}
.container {
    width: 1360px;
}
    .green__wrapper {
    display: flex;
}
.image-inline {
    display: block;
    
    width: 670px;
    height: 485px;
    object-fit: cover;
}
.green__block {
    margin-left: 32px;
    margin-top: 62px;
    
}
}