.professional__block {
    background-color: #b3b3b3;
    align-items: center;
}
.about__us {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0,8;
text-align: center;
color: #333333;
padding-top: 72px;
}

.professional__team-header {
    
width: 280px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 0,8;
text-align: center;
color: #333333;
padding-top: 16px;
}

.professional__team-paragraph {
    
width: 280px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0,8;
text-align: center;
color: #333333;
padding-top: 24px;
}

.team__members-block {
    background-color:#b3b3b3;
    align-items: center; 
    padding-left: 20px;
    padding-right: 20px;
}

.professional__team-list {
    align-items: center;
}
.team__members-img {
    width: 280px;
}

.img__name {
 
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 0,8;
text-align: center;
color: #333333;
padding-top: 16px;
}

.img__position {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0,8;
text-align: center;
color: #333333;
margin-top: 8px;
padding-bottom: 50px;
}