.professional__team {
    width: 320px;
}
.professional__block {
    background-color: #b3b3b3;
    align-items: center;
}
.about__us {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0,8;
text-align: center;
color: #333333;
padding-top: 72px;
}

.professional__team-header {
    
width: 280px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 0,8;
text-align: center;
color: #333333;
padding-top: 16px;
}

.professional__team-paragraph {
    
width: 280px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0,8;
text-align: center;
color: #333333;
padding-top: 24px;
padding-bottom: 20px;
}

.team__members-block {
    background-color:#b3b3b3;
    align-items: center; 
    padding-left: 20px;
    padding-right: 20px;
}

.professional__team-list {
    align-items: center;
}
.team__members-img {
    width: 280px;
}

.img__name {
 
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 0,8;
text-align: center;
color: #333333;
padding-top: 16px;
}

.img__position {
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0,8;
text-align: center;
color: #333333;
margin-top: 8px;
padding-bottom: 50px;
}

/////////////  768px  //////////////////////////////


@media screen and (min-width: 768px) { 
 .professional__team {
    width: 768px;
}   
.professional__block {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.about__us {
    font-size: 20px;
}
.professional__team-header {
    margin: auto;
    font-size: 40px;
    width: 427px;
    
}
.professional__team-paragraph {
    font-size: 18px;
    width: 641px;
    margin: 0 auto;
}
.team__members-block {
    padding-top: 24px;
}
.professional__team-list {
    display: flex;
    
}
.professional__list-item {
    margin-left: 14px;
}
.img__name {
    font-size: 32px;
}
.img__position {
    font-size: 18px;
}
.team__members-img {
    width: 223px;
}

} 

//////////////////  1360  px  /////////////////// 


@media screen and (min-width: 1360px) { 
 .professional__team {
    width: 1360px;
}   
.professional__block {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.about__us {
    font-size: 20px;
}
.professional__team-header {
    margin: auto;
    font-size: 40px;
    width: 427px;
    
}
.professional__team-paragraph {
    font-size: 18px;
    width: 641px;
    margin: 0 auto;
    
}
.team__members-block {
    padding-top: 36px;
    padding-left: 0;
}
.professional__team-list {
    display: flex;
    
}
.professional__list-item {
   margin-left: 24px;
}
.professional__list-item:not(:last) {
   padding-left: 20px;
}

.img__name {
    font-size: 32px;
}
.img__position {
    font-size: 18px;
}
.team__members-img {
    width: 421px;
}

}