.request__section {
  width: 320px;
}
.request__block {
    background-color: #f4f4f4;
    padding-left: 20px;
}


.request__callback {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 0,8;
color: #333333;
padding-top: 51px;
width: 280px;
}

.last__team-member {
    width: 320px;
}

.request__form-block {
    padding-left: 20px;
    padding-top: 68px;
    background-color:#f4f4f4;
    align-items: center;
}

.input__label {
    width: 280px;
}

.input {
    align-items: center;
padding: 16px 8px;
gap: 10px;
width: 280px;
height: 56px;
background: #FFFFFF;
border: 1px solid #F5F5F5;
border-radius: 5px;
margin-top: 16px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 0,8;
color: #808080;
}

.request__form-btn {
justify-content: center;
align-items: center;
padding: 16px 56px;
gap: 10px;
width: 155px;
height: 57px;
background: #28A745;
border-radius: 5px;
margin-top: 24px;
margin-bottom: 25px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 0,8;
text-align: center;
color: #FFFFFF;
}

//////////  768 px ///////////////////////  


@media screen and (min-width: 768px) {
  .request__section {
  width: 768px;
}
    .request__wrapper {
        display: flex;
    }
   .last__team-member {
    width: 368px;
    height: 354px;
    float: left;
    object-fit: cover;
   } 
  .request__form-block {
    width: 100%;
    padding-top: 32px;
    padding-left: 32px;
    height: 354px;
  }
.request__callback {
    margin-top: 0;
    padding-top: 0;
    font-size: 40px;
    width: 317px;
}
  .input {
    width: 336px;
    font-size: 18px;
  }
  .request__form-btn {
    margin-top: 24px;
    font-size: 18px;
  }
}

///////   1360 px  ////////////////////  

@media screen and (min-width: 1360px) {
  .request__section {
  width: 1360px;
}
  .request__wrapper {
        display: flex;
    }
   .last__team-member {
    width: 670px;
    height: 454px;
    float: left;
    object-fit: cover;
   } 
  .request__form-block {
    width: 100%;
    padding-top: 32px;
    padding-left: 32px;
    height: 454px;
  }
.request__callback {
    margin-top: 0;
    padding-top: 0;
    font-size: 40px;
    width: 317px;
}
  .input {
    width: 642px;
    font-size: 18px;
  }
  .request__form-btn {
    margin-top: 80px;
    font-size: 18px;
   
  }
}